<!DOCTYPE html>
<html lang="en">

<head>
  <title>SKYBET</title>
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>

  <div id="football-event" class="container">

    <h1>Football</h1>

    <div class="title-box">
      <p>Home</p>
      <p id="startTime">Event Date</p>
      <p>Away</p>
    </div>

    <div class="title-box">

      <div class="team">
        <p id="homeName">FK Mladá</p>
      </div>

      <p id="">VS</p>

      <div class="team">
        <p id="awayName">SK Sigma</p>
      </div>
     <!--  <script src="../js/connection.js"></script> -->
      <script src="../js/event/dist/footyEventBundle.js"></script>
    </div>

    <div class="title-box">
      <p id="market">Market</p>
      <script src="../js/event/market.js"></script>
      <p id="ft-outcome">Outcome</p>
      <script src="../js/event/outcome.js"></script>
    </div>

    <hr>
    <div id="eventData" class="event-data"></div>

  </div>
  


</body>

</html>